<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="LogToRollingFile" fileName="app-info.log" filePattern="app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="assignmentCloudMore" level="info" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>